/*Switch Section*/
.nextcode-section .nextcode-switch-input { opacity: 0; z-index: 99; position: absolute; min-width: 3rem; height: 25px;}

.nextcode-section img { border: none; max-width: 100%; height: auto; -o-object-fit: cover; object-fit: cover; vertical-align: middle; border-radius: 5px; }

.nextcode-section a { text-decoration: none; }

.nextcode-section a:active, .nextcode-section a:focus { outline: 0; border: 0; -webkit-box-shadow: unset; box-shadow: unset; }

.nextcode-section .nextcode-checkbox-switch { cursor: pointer; margin-bottom: 0px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 12px; font-family: 'Nunito', sans-serif; font-weight: 500; display: inline-block; line-height: 10px; width: auto; clear: both; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.nextcode-section .nextcode-checkbox-switch .nextcode-label-switch { position: relative; overflow: hidden; width: 44px; height: 20px; display: inline-block; margin-left: 0px; cursor: pointer; }

.nextcode-section .nextcode-checkbox-switch .nextcode-label-switch:after, .nextcode-section .nextcode-checkbox-switch .nextcode-label-switch:before { position: absolute; -webkit-transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); -o-transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); -moz-transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); font-weight: 700; font-size: 9px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-sizing: border-box; box-sizing: border-box; }

.nextcode-section .nextcode-checkbox-switch .nextcode-label-switch:before { content: attr(data-inactive); top: 0; left: 0; width: 100%; height: 100%; background-color: #FFFFFF; border: #000 solid 1px; border-radius: 1px; -webkit-border-radius: 1px; -ms-border-radius: 1px; text-indent: 20px; color: #000; }

.nextcode-section .nextcode-switch-input:checked ~ .nextcode-checkbox-switch .nextcode-label-switch:before { border-color: #ff0099; text-indent: 52px; }

.nextcode-section .nextcode-checkbox-switch .nextcode-label-switch:after { position: absolute; top: 5px; left: 4px; display: block; content: attr(data-active); width: 10px; height: 10px; background-color: #000; border-radius: 1px; -webkit-border-radius: 1px; -ms-border-radius: 1px; -webkit-transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); -o-transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); -moz-transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); text-indent: -28px; display: -webkit-box; display: -ms-flexbox; display: flex; }

.nextcode-section .nextcode-switch-input:checked ~ .nextcode-checkbox-switch .nextcode-label-switch:after { left: 31px; background-color: #ff0099; color: #ff0099; }

/*End switch button*/
body.ncode-disabled { position: relative !important; overflow: hidden; }

body.ncode-disabled:before { content: "" !important; position: fixed !important; top: 0 !important; left: 0px !important; width: 100% !important; height: 100% !important; cursor: no-drop; background: #4645458c !important; z-index: 999; border-radius: 0; margin: 0px !important; padding: 0px !important; }


/*white*/
.nextcode-section{
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 0px;
    border-radius: 1px;
    position: relative;
    z-index: 1;
}
.nextcode-section .message-view {
    padding: 10px 10px;
    position: absolute;
    z-index: 99;
    top: 11px;
    left: 30%;
    background: #dcefd59e;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 2px 3px 11px #22222252;
}
.nextcode-section .message-view.hide-message{
    display: none;
}

.nextcode-section .message-view{
    font-size: 16px;
    margin: 0px;
}
.nextcode-section .nextcode-content{
    display: flex;
}
.nextcode-section .nextcode-content .nextcode-nav-menu{
    flex-basis: 20%;
    min-width: 200px;
}
.nextcode-section .nextcode-content .nextcode-content-area{
    flex-basis: 80%;
    position: relative;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #e5e5e5;
}

.nextcode-section .nextcode-content .nextcode-content-area > h1{
    font-family: inherit;
    font-style: normal;
    font-size: 20px;
    color: #444;
    line-height: 67px;
    letter-spacing: 1px;
    padding-bottom: 13px;
    padding-left: 22px;
    margin: 0px;
}

.nextcode-content-area .settings-content > div{
    display: none;
}
.nextcode-content-area .settings-content > div.active{
    display: block;
}

.nextcode-nav-menu .nav-setting{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    float: unset;
    
}
.nextcode-nav-menu .nav-setting .logo_area{
    height: 79px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    display: flex;
    border: none;
}
.nextcode-nav-menu .nav-setting .logo_area img{
    width: 100%;
    object-fit: contain;
    height: 41px;
}
.nextcode-nav-menu .nav-setting li{
    display: block;
    border: 0px;
    border-radius: 0px;
    border-bottom-width: 0px;
    padding: 0px;
    border-top: 1px solid #e5e5e5;
    background: transparent;
    position: relative;
    margin: 0px;
}
.nextcode-nav-menu .nav-setting li a{
    color: #7D8388;
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 21px;
    display: block;
    padding: 16px 16px;
}

.nextcode-nav-menu .nav-setting li a i{
    color: #7D8388;
    font-size: 13px;
    font-weight: 600;
}

.nextcode-nav-menu .nav-setting li.active a{
    color: #ff0099;
}
.nextcode-nav-menu .nav-setting li.active{
    background-color: #e5e5e5;
}

.nextcode-nav-menu .nav-setting li.active:after {
    content: " ";
    position: absolute;
    right: -1px;
    top: 24px;
    height: 0;
    width: 0;
    pointer-events: none;
    border: solid transparent;
    border-right-color: #ffffff;
    border-width: 7px;
    margin-top: -4px;
    z-index: 5;
}

.nextcode-nav-menu .nav-setting li.active a i{
    color: #ff0099;
}
.nextcode-nav-menu .nav-setting li.submenus:before{
    content: "\f054";
    display: inline-block;
    font-family: "Font Awesome 5 Pro","Font Awesome 5 Free",FontAwesome;
    font-weight: 900;
    font-size: 9px;
    line-height: 1;
    position: absolute;
    right: 10px;
    top: 26px;
    margin-top: -4px;
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.nextcode-nav-menu .nav-setting li.active.submenus:before{
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.nextcode-nav-menu .nav-setting li.active.submenus:after {
    border: none !important;
}
.nextcode-nav-menu .nav-setting li ul.sub-sections{
    display: none;
}

.nextcode-nav-menu .nav-setting li.active ul.sub-sections{
    display: block;
}
.nextcode-nav-menu .nav-setting li ul.sub-sections li{
    border-top: none;
}
.nextcode-nav-menu .nav-setting li ul.sub-sections li.active{
    background-color: #d6d4d4;
}
.nextcode-nav-menu .nav-setting li ul.sub-sections li a{ 
    line-height: 12px;
    text-indent: 20px;
}

.nextcode-nav-menu .nav-setting li ul.sub-sections li a,
.nextcode-nav-menu .nav-setting li ul.sub-sections li a i{
    color: #181919;
    font-size: 13px;
    font-weight: 500;
}

.nextcode-nav-menu .nav-setting li ul.sub-sections li.active a,
.nextcode-nav-menu .nav-setting li ul.sub-sections li.active a i {
    color: #f38b8b;
}
.nextcode-nav-menu .nav-setting li ul.sub-sections li.active:after{
    top: 20px;
}
.nextcode-section .nextcode-content .nextcode-content-area .nxbutton{
    padding: 14px 48px;
    color: #a0a5aa;
    border-color: #ddd;
    background: #1163f9;
    -webkit-box-shadow: none;
    box-shadow: none;
   /* text-shadow: 0 1px 0 #fff;*/
    border: 1px solid #1163f9;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
}


.nextcode-section .nextcode-content .nextcode-content-area .nxbutton.right-submit{
    position: absolute;
    right: 14px;
    top: 16px;
}


.nextcode-section .nextcode-content .nextcode-content-area .nxbutton.reset-button{
    float: left;
    background-color: #5f5f5f;
    border: 1px solid #5f5f5f;
    text-shadow: 1px -1px 0 #333;
}
.nextcode-section .nextcode-content .nextcode-content-area .nxbutton.reset-button:hover{
    background-color: #d54e21;
    border: 1px solid #d54e21;
    text-shadow: 1px -1px 0 #d54e21;
    color: #fff;
}
.nextcode-section .nextcode-content .nextcode-content-area .nxbutton.submit-button{
    float: right;
}
.nextcode-section .nextcode-content .nextcode-content-area .nxbutton.disabled{
    opacity: 0.3;
    pointer-events: none;
}
.nextcode-section .nextcode-content .nextcode-content-area .nxbutton.submit-button:hover{
    color: #fff;
}
.nextcode-section .nextcode-content .nextcode-content-area .submit-section {
    border-top: 1px solid #e5e5e5;
    padding: 15px;
    margin-top: 0px;
    display: flex;
    height: 76px;
    vertical-align: bottom;
    align-items: center;
    justify-content: space-between;
}

/*dark*/
.nextcode-section.dark-mode{
    background-color: #050505;
}
.dark-mode .nextcode-nav-menu .nav-setting li a {
    color: #fff;
}
.dark-mode .nextcode-nav-menu .nav-setting li.active {
    background-color: #222;
}
.dark-mode .nextcode-nav-menu .nav-setting li {
    border-top: 1px solid #2f2f2f;
}
.nextcode-section.dark-mode .nextcode-content .nextcode-content-area {
    border-left-width: 0px;
}
.nextcode-section.dark-mode .nextcode-content .nextcode-content-area > h1 {
    color: #fff;
}

.nextcode-section.dark-mode .settings-content{
    background-color: #fff;
}

.nextcode-nav-menu .nav-setting li ul.sub-sections li.active {
    background-color: #050505;
}

.dark-mode .nextcode-nav-menu .nav-setting li ul.sub-sections li a,
.dark-mode .nextcode-nav-menu .nav-setting li ul.sub-sections li a i {
    color: #fff;
}

.dark-mode .nextcode-nav-menu .nav-setting li ul.sub-sections li.active a,
.dark-mode .nextcode-nav-menu .nav-setting li ul.sub-sections li.active a i {
    color: #f38b8b;
}


/* top menu bar style*/
.nextcode-section.top-display .nextcode-content{
    display: block;
}

.nextcode-section.top-display .nextcode-content .nextcode-nav-menu {
    flex-basis: 100%;
    min-width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.nextcode-section.top-display .nextcode-content .nextcode-content-area {
    flex-basis: 100%;
    position: relative;
    border-left-width: 0px;
}

.nextcode-section.top-display .nextcode-nav-menu .nav-setting .logo_area {
    height: 79px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    display: inline-flex;
    border: none;
}

.nextcode-section.top-display .nextcode-nav-menu .nav-setting li {
    display: inline-flex;
    border-top: 0px solid #e5e5e5;
    border-right: 0px solid #e5e5e5;
}

.nextcode-section.top-display .nextcode-nav-menu .nav-setting li:last-child {
    border-right: none;
}

.nextcode-section.top-display .nextcode-nav-menu .nav-setting li.active:after {
    right: 43%;
    top: auto;
    bottom: -1px;
    margin-top: 0px;
    transform: rotate(90deg);
}

.nextcode-section.top-display .nextcode-nav-menu .nav-setting li.submenus:before {
    right: 5px;
    top: 26px;
    margin-top: -3px;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.nextcode-section.top-display .nextcode-nav-menu .nav-setting li.submenus{
    position: relative;
}

.nextcode-section.top-display .nextcode-nav-menu .nav-setting li.active ul.sub-sections {
    display: none;
}
.nextcode-section.top-display .nextcode-nav-menu .nav-setting li:hover ul.sub-sections {
    display: block;
}
.nextcode-section.top-display .nextcode-nav-menu .nav-setting li ul.sub-sections {
    position: absolute;
    min-width: 200px;
    top: 49px;
    background: #e5e5e5;
    z-index: 999;
    box-shadow: 0px 7px 6px 0px #adadad;
}

.nextcode-section.top-display .nextcode-nav-menu .nav-setting li ul.sub-sections li{
    width: 100%;
    display: block;
}

.nextcode-section.top-display .nextcode-nav-menu .nav-setting li ul.sub-sections li.active:after{
    content:unset;
}
.nextcode-section.top-display.dark-mode .nextcode-nav-menu .nav-setting li.active:after {
    border-right-color: transparent;
}

.nextcode-section.top-display.dark-mode .nextcode-nav-menu .nav-setting li ul.sub-sections {
    background: #ccc;
    box-shadow: none;
}
.top-display.dark-mode .nextcode-nav-menu .nav-setting li ul.sub-sections li.active {
    background-color: #050505bf;
}

.nextcode-section.dark-mode .nextcode-nav-menu .nav-setting li.submenus:before {
    color: #fff;
}

/* start content section */
.nextcode-section .settings-content .ncode-section{
    display: flex;
    padding: 25px;
    position: relative;
    border-top: 1px solid #e5e5e5;
}
.nextcode-section .settings-content .ncode-section.ncode-section-parent{
    border-top: none;
    padding-top: 5px;
    padding-bottom: 10px;
}
.nextcode-section .settings-content .ncode-section:before{
    content: " ";
    display: table;
}
.nextcode-section .settings-content .ncode-section:after{
    clear: both;
}

.nextcode-section .settings-content .ncode-section.ncopt-depend-hidden{
    display: none;
}
.nextcode-section .settings-content .ncode-section.ncopt-depend-visible{
    display: flex;
}
.nextcode-section .settings-content .ncode-headline{
    position: relative;
    width: 20%;
    align-self: center;
}

.nextcode-section .settings-content .ncode-fileds{
    width: calc(80% - 20px);
}
.nextcode-section .settings-content .ncode-headline h4{
    display: block;
    font-weight: 600;
    font-size: 13px;
    margin: 0px;
    letter-spacing: 1px;
}

.nextcode-section .settings-content .ncode-heading .ncode-headline{
    width: 100%;
    float: none;
    display: block;
}

.nextcode-section .settings-content .ncode-section.ncode-heading{
    padding: 10px;
    background-color: #f7f7f7;
}
.nextcode-section .settings-content .ncode-section.ncode-heading h3{
    margin: 0;
    line-height: 25px;
    font-size: 15px;
    font-weight: 700;
    color: #23282d;
    letter-spacing: 1px;
}
.nextcode-section .settings-content .ncode-fileds .input-details {
    padding-left: 0px;
    font-size: 12px;
    line-height: 1.65em;
    margin: 0px;
    margin-top: 6px;
    font-weight: 400;
    color: #999;
    letter-spacing: 1px;
}

.nextcode-section .settings-content .ncode-section.ncode-heading span{
    font-size: 12px;
    color: #7e7e7e;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: inherit;
}

.nextcode-section .settings-content .ncode-section .nx-switch{
    display: inline-block;
    
}

.nextcode-section .settings-content .ncode-section .nx-switch-div{
    display: none;
}
.nextcode-section .settings-content .ncode-section.active .nx-switch-div{
    display: flex;
}

.nextcode-section .settings-content .ncode-section .border-bottom{
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.nextcode-section .settings-content .ncode-fileds h4{
    color: #444;
    font-size: 15px;
}

.nextcode-section .settings-content .ncode-fileds .nxinput-box{
    border-color: #e5e5e5;
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    border-radius: 3px;
    padding: 0px 5px;
    width: 100%;
    display: inline-block;
    max-width: 300px;
    direction: ltr;
    height: 30px;
    font-size: 12px;
}
.nextcode-section .settings-content .ncode-fileds .nxinput-box.intextarea{
    max-width: 500px;
    resize: none;
    overflow: hidden;
    min-height: 100px;
    padding: 5px 5px;
    font-size: 12px;
}

.nextcode-section .settings-content .ncode-fileds .nxsubmit-box{
    padding: 7px 11px;
    color: #fff;
    background: #1163f9;
    -webkit-box-shadow: none;
    box-shadow: none;
    /* text-shadow: 0 1px 0 #fff; */
    border: none;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 500;
}

.nextcode-section .settings-content .ncode-fileds .nxsubmit-box:active,
.nextcode-section .settings-content .ncode-fileds .nxsubmit-box:focus{
    outline: none;
}

.nextcode-section .settings-content .ncode-fileds .nxmedai-button{
    display: inline-block;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #afabab;
    color: #444;
    width: 31px;
    margin-right: 4px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    margin-top: 0px;
    background: #fff;
    cursor: pointer;
}

.nextcode-section .settings-content .ncode-fileds .nxmedai-button:active{
    outline: none;
    border: 1px solid #333;
}
.nextcode-section .settings-content .ncode-fileds .nxmedai-button:focus{
    outline: none;
}


.nextcode-section .settings-content .ncode-fileds .nxremove-button{
    opacity: 1;
    visibility: visible;
    background: #E91E63F2;
    color: #fff;
    border: none;
}

.nextcode-section .settings-content .ncode-fileds .hidden-removebutton{
    opacity: 0;
    visibility: hidden;
}

.nextcode-section .settings-content .ncode-section img.preview-logo {
    width: 100%;
    max-width: 40px;
    background-color: #f8f8f8;
    background-image: linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);
    background-size: 16px 16px;
    background-position: 0 0, 8px 8px;
    box-shadow: none;
    border: none;
    margin-top: 0px;
    position: relative;
    object-fit: cover;
    height: 40px;
}

/*Reaper items*/
.nextcode-section .settings-content .add-buttons-link{
    border: none;
    margin-top: 8px;
    padding: 2px 10px;
    border-radius: 1px;
    background: #6d7882;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    box-shadow: 0 5px 10px rgba(0,0,0,.19), 0 3px 3px rgba(0,0,0,.1);
    line-height: 20px;
    outline: none;
}

.nextcode-section .settings-content .add-buttons-link:focus,
.nextcode-section .settings-content .add-buttons-link:active{
    border: none;
    box-shadow: none;
    outline: none;
}
.nextcode-section .settings-content .ncode_tabs_items{
    position: relative;
    display: block;
    margin-bottom: 9px;
    padding: 0px;
    cursor: move;
}

.nextcode-section .settings-content .ncode_tabs_items .remove-buttons-link{
    position: absolute;
    right: 11px;
    top: 10px;
    color: #ef2424;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 11px;
    background: transparent;
    cursor: pointer;
}
.nextcode-section .settings-content .ncode_tabs_items .remove-buttons-link:focus{
    border: none;
    box-shadow: none;
    outline: none;
}

.nextcode-section .ncode_tabs_item .ncode_tabs_items-heading {
    display: table;
    table-layout: fixed;
    width: 100%;
    color: #222;
    background-color: #e5e5e5;
    height: 40px;
    border-spacing: 1px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.nextcode-section .ncode_tabs_item .ncode_tabs_items-heading > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.nextcode-section .ncode_tabs_item .ncode_tabs_items-heading .ncode-header-icon{
    width: 30px;
    cursor: pointer;
    font-size: 20px;
}
.nextcode-section .ncode_tabs_item .ncode_tabs_items-heading .repeater-title {
    text-align: left;
    padding: 0 10px;
    font-size: 14px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
    font-weight: 500;
}
.nextcode-section .ncode_tabs_item .ncode_tabs_items-heading .tabs-remove-button{
    width: 40px;
    border-left: 1px solid #ccc;
    cursor: pointer;
    font-size: 20px;
}

.nextcode-section .settings-content .ncode_tabs_items_content {
    border: 1px solid #d5dadf;
    border-top: 0 solid #d5dadf;
    padding: 10px;
}

.nextcode-section .settings-content .ncode_tabs_items_content:not(.ncode-rehide){
    display: none;
}

.nextcode-section .settings-content .ncode_tabs_items_content .tabs-fields-action{
    display: flex;
    margin-bottom: 7px;
    vertical-align: middle;
    align-items: center;
}

.nextcode-section .settings-content .ncode_tabs_items_content .tabs-fields-action .fileds-headline {
    font-size: 13px;
    color: #807f7f;
    font-weight: 500;
    width: 20%;
}

.nextcode-section .settings-content .ncode_tabs_items_content .tabs-fields-action > *{
    width: 80%;
}

/* Editor*/
.CodeMirror-gutters{
    min-height: 250px;
}
.CodeMirror-gutter{
    width: 29px;
}
.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}
.cm-s-dracula.CodeMirror {
    background-color: #282a36!important;
    color: #f8f8f2!important;
    border: none;
}
.cm-s-dracula span.cm-tag {
    color: #ff79c6;
}

.ncode-code-editor .ncode-fileds{
    position: relative;
}

.ncode-copy-code-button {
    z-index: 1;
    right: 0;
    padding: 10px;
    opacity: 0;
    border: 0;
    border-radius: 0;
    outline: 0;
    cursor: pointer;
    z-index: 99;
}

.ncode-copy-code-button, .ncode-copy-code-button:after {
    position: absolute;
    top: 0;
    background: #ccc;
    color: #fff;
    transition: all .25s ease;
}

.ncode-code-editor .ncode-fileds:hover .ncode-copy-code-button{
    opacity: 1;
}

.ncode-copy-code-button:after {
    content: "Copied!";
    z-index: 0;
    right: 100%;
    margin: 5px 10px 0;
    padding: 5px;
    border-radius: 3px;
    font-size: 11px;
    -webkit-transform: translateX(120%) scale(0);
    transform: translateX(120%) scale(0);
}
.ncode-copy-code-button.success:after {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
}


/* icons */
.nextcode-section .ncode-icon-select .ncode-icon-preview i {
    display: inline-block;
    font-size: 16px;
    width: 30px;
    height: 28px;
    line-height: 28px;
    margin-right: 5px;
    text-align: center;
    vertical-align: top;
    color: #555;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.08);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.08);
    box-shadow: 0 1px 0 rgba(0,0,0,.08);
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.nextcode-section .ncode-icon-select.ncode-warning-primary {
    color: #fff!important;
    border-color: #dc3545!important;
    background: #dc3545!important;
}

.nextcode-section .ncode-icon-select input.ncode-icon-value{
    display: none;
}

.ncode-modal-icon {
    z-index: 100102;
}
.ncode-modal {
    position: fixed;
    z-index: 100101;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ncode-modal-table {
    display: table;
    width: 100%;
    height: 100%;
}
.ncode-modal-table-cell {
    display: table-cell;
    vertical-align: middle;
    margin: 100px 0;
}
.ncode-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}
.ncode-modal-inner {
    position: relative;
    z-index: 10;
    width: 760px;
    height: 750px;
    margin: 0 auto;
    background-color: #fff;
}
.ncode-modal-title {
    position: relative;
    background-color: #fcfcfc;
    border-bottom: 1px solid #ddd;
    height: 36px;
    font-size: 16px;
    font-weight: 600;
    line-height: 36px;
    margin: 0;
    padding: 0 36px 0 16px;
}
.ncode-modal-close {
    color: #666;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    text-align: center;
    background: 0 0;
    border: none;
    cursor: pointer;
}
.ncode-modal-close:before {
    font: normal 20px/36px dashicons;
    content: "\f158";
    vertical-align: top;
    width: 36px;
    height: 36px;
}
.ncode-modal-icon .ncode-modal-header {
    text-align: center;
}
.ncode-modal-header {
    width: 100%;
    padding: 14px 0;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
}
.ncode-modal-icon .ncode-icon-search {
    width: 50%;
    height: 40px;
    line-height: 40px;
}
.ncode-modal-icon .ncode-modal-content {
    padding: 10px;
    height: 618px;
}
.ncode-modal-content {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 595px;
}
.ncode-modal-loading {
    display: none;
    position: absolute;
    left: 15px;
    top: 15px;
}
.ncode-modal-icon i {
    cursor: pointer;
    display: inline-block;
    margin: 4px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: #555;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 1px 1px 0 rgba(0,0,0,.05);
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.05);
    box-shadow: 1px 1px 0 rgba(0,0,0,.05);
}


/* image select*/
.nextcode-section .ncode--image-group label{
    display: inline-block;
}
.nextcode-section .ncode--image-group .ncode--image {
    cursor: pointer;
    position: relative;
    display: inline-block;
    max-width: 100%;
    margin: 0 5px 5px 0;
    vertical-align: bottom;
    border: 2px solid #4442429c;
    background-color: #fff;
    user-select: none;
    -webkit-user-select: none;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.nextcode-section .ncode--image-group .ncode--active {
    border-color: #222;
}
.nextcode-section .ncode--image-group .ncode--active .ncode--image{
   box-shadow: 0 0 20px rgba(0,0,0,.2);
}

.nextcode-section .ncode--image-group .ncode--image:before {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 10px;
    font-family: "Font Awesome 5 Pro","Font Awesome 5 Free",FontAwesome;
    font-weight: 900;
    content: "\f00c";
    width: 16px;
    height: 16px;
    line-height: 14px;
    opacity: 0;
    color: #fff;
    background-color: #222;
    transition: opacity .2s;
}

.nextcode-section .ncode--image-group .ncode--active .ncode--image:before {
    opacity: 1;
}
.nextcode-section .ncode--image-group .ncode-title{
    font-size: 12px;
    font-weight: 500;
    color: #afafaf;
    padding: 5px;
    line-height: 26px;

}

.nextcode-section .ncode--image-group img {
    vertical-align: top;
    border-radius: 0px;
    border: none;
    background: none;
}

.nextcode-section .ncode--image-group input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 7px;
}

/* checkbox radio*/
.nextcode-section .ncode-checkbox ul, .nextcode-section .ncode-radio ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: auto;
    max-height: 305px;
}

.nextcode-section .ncode-checkbox .ncode-inline-list li, .nextcode-section .ncode-radio .ncode-inline-list li {
    display: inline-block;
    margin-right: 15px;
}

.nextcode-section .ncode-checkbox ul li, .nextcode-section .ncode-radio ul li {
    margin-bottom: 6px;
}

.nextcode-section .ncode-checkbox ul li label, .nextcode-section .ncode-radio ul  label{
    padding: 0;
    margin: 0;
    display: inline-block;
}

/*Fieldset*/
.nextcode-section .ncode-fieldset-content{
    border: 1px solid #ccd0d4;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.nextcode-section .ncode-fieldset-content > .fieldset-section {
    padding: 15px;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.nextcode-section .ncode-fieldset-content > .fieldset-section:after, .nextcode-section .ncode-fieldset-content > .fieldset-section:before {
    content: " ";
    display: table;
}

.fieldset-section+.fieldset-section {
    border-top: 1px solid #eee;
}
.nextcode-section .ncode-fieldset-content .fieldset-section > * {
    width: 80%;
}
.nextcode-section .ncode-fieldset-content .fieldset-section .fileds-headline {
    font-size: 13px;
    color: #807f7f;
    font-weight: 500;
    width: 20%;
    display: inline-block;
}

/*sortable*/

.nextcode-section .ncode-sortable-content .sortable-section {
    display: table;
    table-layout: fixed;
    vertical-align: middle;
    align-items: center;
    margin-bottom: 5px;
    border: 1px solid #ccd0d4;
    position: relative;
    cursor: move;
}

.nextcode-section .ncode-sortable-content .sortable-section:hover {
    border-color: #bbb;
}
.nextcode-section .ncode-sortable-content .sortable-section .sortable-fields {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    background-color: #fff;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
.nextcode-section .ncode-sortable-content .sortable-section .fileds-headline {
    font-size: 13px;
    color: #807f7f;
    font-weight: 500;
    display: inline-block;
    min-width: 150px;
}

.nextcode-section .ncode-sortable-content .sortable-section .fileds-right-icon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    line-height: 1em;
    border-left: 1px solid #eee;
    background-color: #ccd0d4;
    min-width: 50px !important;
}

/*sorter*/

.nextcode-section .ncode-sorter-content .sorter-section {
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.nextcode-section .ncode-sorter-content .sorter-section {
    padding: 10px;
}
.nextcode-section .ncode-sorter-content .sorter-section .fileds-headline {
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    border: 1px dashed #ddd;
    border-bottom: none;
    background-color: #f8f8f8;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nextcode-section .ncode-sorter-content .sorter-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 62px;
    padding: 5px 15px;
    border: 1px dashed #ddd;
    background-color: #fff;
}

.nextcode-section .ncode-sorter-content .sorter-section ul li {
    margin: 10px 0;
    padding: 10px 15px;
    cursor: move;
    text-align: center;
    border: 1px solid #e5e5e5;
    background-color: #fafafa;
    -moz-transition: border-color .15s;
    -o-transition: border-color .15s;
    -webkit-transition: border-color .15s;
    transition: border-color .15s;
   
}

.nextcode-section .ncode-sorter-content .sorter-section ul li label{
    font-size: 13px;
    font-weight: 700;
    
}

.nextcode-section .ncode-sorter-content .sorter-section ul li:hover {
    border-color: #bbb;
}

.nextcode-section .ncode-sorter-content .sorter-section .option-disabled li{
    -moz-transition: opacity .15s;
    -o-transition: opacity .15s;
    -webkit-transition: opacity .15s;
    transition: opacity .15s;
    opacity: .5;
}

/* Slider / Range*/
.nextcode-section .ncode-slider-options {
    display: flex;
    align-items: baseline;
    align-self: center;
}
.nextcode-section .ncode-slider-options .ncode-slider-val {
    -moz-appearance: textfield;
}
.nextcode-section .ncode-slider-options .ncode-slider-val::-webkit-outer-spin-button,
.nextcode-section .ncode-slider-options .ncode-slider-val::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.nextcode-section .ncode-slider-options .ncode-slider-val{
    width: 50px;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #7e8993;
    background-color: #fff;
    padding: 1px 8px;
    text-align: center;
}
.nextcode-section .ncode-slider-options .ncode-slider{
    position: relative;
    padding: 10px;
    z-index: 0;
    user-select: none;
    -webkit-user-select: none;
}
.nextcode-section .ncode-slider-options .mb_sliderBar {
    background-color: #fafafa;
    height: 5px;
    max-width: 250px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px;
    border-radius: 4px;
    cursor: default;
}
.nextcode-section .ncode-slider-options .mb_sliderHandler {
    padding: 0px;
    background-color: #fff;
    position: absolute;
    top: -4px;
    left: 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.30) 0 0 6px 0;
    cursor: default;
    height: 12px;
    width: 12px;
}
.nextcode-section .ncode-slider-options .mb_sliderValueLabel {
   color: #928a8a;
}

.nextcode-section .ncode-slider-options .mb_sliderValueLabel:after {
    border-width: 5px 5px 0 5px;
    border-color: #928a8a transparent transparent transparent;
}
.nextcode-section .ncode-slider-options .mb_sliderEnd, .nextcode-section .ncode-slider-options .mb_sliderStart, .nextcode-section .ncode-slider-options .mb_sliderValue {
    top: 0px;
    min-width: auto;
}
.nextcode-section .ncode-slider-options .ncode-slider-span{
    display: flex;
}
.nextcode-section .ncode-slider-options .unit-data {
    display: inline;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    padding: 7.5px 7px;
    font-size: 11px;
    line-height: 1;
    border-radius: 0 4px 4px 0;
    color: #555;
    border: 1px solid #7e8993;
    border-left: 0;
    background-color: #dadada;
    margin-left: -4px;
}

/*Number*/

.nextcode-section .ncode-number-options{
    display: flex;
}
.nextcode-section .ncode-number-options .ncode-slider-val{
    width: 150px;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #7e8993;
    background-color: #fff;
    padding: 1px 8px;
}


.nextcode-section .ncode-number-options .unit-data {
    display: inline;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    padding: 7.5px 7px;
    font-size: 11px;
    line-height: 1;
    border-radius: 0 4px 4px 0;
    color: #555;
    border: 1px solid #7e8993;
    border-left: 0;
    background-color: #dadada;
    margin-left: -11px;
}

/* Spinner*/

.nextcode-section .ncode-spinner-options .ncode-slider-val {
    -moz-appearance: textfield;
}
.nextcode-section .ncode-spinner-options .ncode-slider-val::-webkit-outer-spin-button,
.nextcode-section .ncode-spinner-options .ncode-slider-val::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nextcode-section .ncode-spinner-options .ui-spinner {
    display: flex;
}
.nextcode-section .ncode-spinner-options input.ncode-slider-val {
    position: relative;
    z-index: 1;
    width: 50px;
    text-align: center;
    margin: 0;
    padding: 0 8px;
    border-radius: 0;
    border: 1px solid #7e8993;
}

.nextcode-section .ncode-spinner-options .ui-button {
    cursor: pointer;
}
.nextcode-section .ncode-spinner-options .ui-button-text-only {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 20px;
    padding: 0 4px;
    color: #555;
    border: 1px solid #7e8993;
    background-color: #f5f5f5;
}

.nextcode-section .ncode-spinner-options .ui-spinner-down {
    order: 1;
    border-right: 0;
    border-radius: 4px 0 0 4px;
}
.nextcode-section .ncode-spinner-options .ncode-slider-val {
    order: 2;
}
.nextcode-section .ncode-spinner-options .ncode--unit {
    order: 3;
    border-left: 0;
    user-select: none;
}
.nextcode-section .ncode-spinner-options .ui-spinner-up {
    order: 4;
    border-left: 0;
    border-radius: 0 4px 4px 0;
}
.nextcode-section .ncode-spinner-options .ui-button-text {
    display: none;
}
.ncode-spinner-options .ncode-slider-val:focus{
    outline: none;
    box-shadow: none;
}
.nextcode-section .ncode-spinner-options .ui-button:before {
    font-family: "Font Awesome 5 Pro","Font Awesome 5 Free",FontAwesome;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
}
.nextcode-section .ncode-spinner-options .ui-spinner-up:before {
    content: "\f0da";
}
.nextcode-section .ncode-spinner-options .ui-spinner-down:before {
    content: "\f0d9";
}

/* dimensions */
.ncode-dimensions-options ul{
    position: relative;
    display: flex;
}
.ncode-dimensions-options ul li{
    margin-right: -2px;
} 
.ncode-dimensions-options ul li input.ncode-dimension-input,
.ncode-dimensions-options ul li button.dimention-button,
.ncode-dimensions-options ul li select.dimention-unit {
    position: relative;
    z-index: 1;
    width: 60px;
    height: 30px;
    text-align: center;
    margin: 0;
    border-radius: 0;
    display: block;
    border-right: none;
    border-color: #d5dadf;
    color: #6d7882;
    border-width: 1px;
}
.ncode-dimensions-options ul li label {
    display: block;
    text-align: center;
    color: #d5dadf;
    font-size: 10px;
    text-transform: uppercase;
    padding-top: 1px;
}
.ncode-dimensions-options ul li > *:focus{
    outline: none;
    box-shadow: none;
}
.ncode-dimensions-options ul li:first-child > *{
    border-top-left-radius: 5px  !important;
    border-bottom-left-radius: 5px  !important;
}

.ncode-dimensions-options ul li .dimention-button{
    border-right: 1px solid #d5dadf !important;
    border: 1px solid #d5dadf;
    height: 30px;
    width: 30px !important;
    cursor: pointer;
    background-color: #fff;
    border-top-right-radius: 5px  !important;
    border-bottom-right-radius: 5px  !important;
}

.ncode-dimensions-options ul li .dimention-button.active{
    background-color: #dcdcdc;
}


/* Choose */
.nextcode-section .ncode-choose-options{
    display: flex;
    height: 33px;
    line-height: 27px;
    text-align: center;
    border-spacing: 1px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
   
}

.nextcode-section .ncode-choose-options .choose-item{
    display: inline;
}

.nextcode-section .ncode-choose-options .choose-item input{
    display: none;
}

.nextcode-section .ncode-choose-options .choose-item{
    border: 1px solid #d5dadf;
    border-right: none;
    font-size: 12px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
    overflow: hidden;
    width: 27px;
    height: auto;
    vertical-align: middle;
    align-items: center;
    align-self: center;
}
.nextcode-section .ncode-choose-options .choose-item:first-child {
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.nextcode-section .ncode-choose-options .choose-item:last-child {
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px solid #d5dadf;
}
.nextcode-section .ncode-choose-options .choose-item label{
    position: static;
    display: block;
    width: 27px;
    height: 27px;
    margin: 0px;
}

.nextcode-section .ncode-choose-options .choose-item .ncode-title {
    display: inline;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    line-height: 1.3;
    opacity: 0;
    visibility: hidden;
    max-width: 100px;
    font-size: 10px;
    background-color: #666;
    color: #fff;
    top: -27px;
    margin-left: -24px;
}
.nextcode-section .ncode-choose-options .choose-item .ncode-title:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px;
    border-color: #666 transparent transparent transparent;
    left: 46%;
    top: 100%;
}
.nextcode-section .ncode-choose-options .choose-item:hover .ncode-title {
    visibility: visible;
    opacity: 1;
}

.ncode-choose-options .choose-item input:checked+label{
    color: #fff;
    background-color: #a4afb7;
    border: none;
}

/*color picker*/
.ncode-color-options{
    position: relative;
}
.npopup-content .ncode-color-options{
    position: static;
}
.ncode-color-options .pickr{
    display: inline-block;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #afabab;
    width: auto;
}
.ncode-color-options .pickr button{
    width: 20px;
    height: 20px;
}
.ncode-color-picker{
    display: none;
}
.ncode-color-custom{
    padding: 12px;
    border-radius: 7px !important;
    position: absolute !important;
    right: auto;
    top: auto !important;
    bottom: 45px;
    
}
.ncode-color-custom:before {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 10px;
    border: 8px solid transparent;
    border-bottom-color: #fff;
    transform: rotate(180deg);
}

.nx-tab-content .ncode-color-custom{
    left: 20px !important;
}

/*tabs*/
.nx-tab-content .nx-tab-pane{
	display:none;
}

.nx-tab-content .nx-tab-pane.nx-show{
	display:block;
}

.ncode-tabs-content .nx-nav-tabs{
    display: flex;
    margin: 0px;
    padding: 0px;
}
.ncode-tabs-content .nx-nav-tabs .nav-item {
    margin: 0px;
    padding: 0px;
}
.ncode-tabs-content .nx-nav-tabs .nav-item a{
    display: inline-block;
    padding: 6px 15px;
    margin-top: 1px;
    margin-right: -2px;
    margin-bottom: -1px;
    position: relative;
    text-decoration: none;
    color: #888686;
    font-weight: 500;
    border: 1px solid #ccd0d4;
    background-color: #f3f3f3;
    transition: all .2s;
    font-size: .8em;
    text-transform: uppercase;
}
.ncode-tabs-content .nx-nav-tabs .nav-item:first-child a{
    border-top-left-radius: 5px;
}
.ncode-tabs-content .nx-nav-tabs .nav-item:last-child a{
    border-top-right-radius: 5px;
}

.ncode-tabs-content .nx-nav-tabs .nav-item a.nx-active{
    background-color: #fff;
    border-bottom-color: #fff;
    color: #444;
}

.nextcode-section .tabs-content-data {
    border-radius: 0px 5px 5px 5px;
}

.nextcode-section .tabs-content-data > .fieldset-section {
    padding: 10px 15px;
}

.nextcode-section .tabs-content-data .fieldset-section+.fieldset-section {
    border-top: 0px solid #eee;
}

/*date*/
.ncode-date-option{
    position: relative;
    display: flex;
}

.ncode-date-option .input-button{
    border: 1px solid #ddd;
    padding: 3px 9px;
    margin-left: -1px;
    color: #444;
    cursor: pointer;
}
.ncode-date-option .nxinput-box{
    border-right-width: 0px !important;
}
.ncode-date-option .input-button.opend{
    margin-left: -3px;
}
.ncode-date-option .input-button.closeb{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #ef4343;
}

.ncode-date-option a:active, .ncode-date-option a:focus {
    border: 1px solid #ddd;
}

/*Border group*/

.ncode-popup-option{
    position: relative;
}
.ncode-popup-option .border-style{
    display: flex;
}

.ncode-popup-option .border-style label{
    display: block;
    text-align: left;
    color: #757576;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 2px;
}
.ncode-popup-option .border-style .border-type{
    width: 100px;
    margin-right:5px;
}
.ncode-popup-option .border-style select{
    max-width: 100px !important;
    padding: 1px 7px !important;
}
.ncode-popup-option .border-width-options .border-type > .ncode-dimension-label,
.ncode-popup-option .border-width-options .border-width li label,
.ncode-popup-option .border-width-options .border-width > .ncode-dimension-label{
    display: block;
    text-align: left;
    color: #757576;
    font-size: 12px;
    text-transform: inherit;
    margin-top: 9px;
    font-weight: 500;
    margin-bottom: -11px;
    letter-spacing: 1px;
}

.ncode-popup-option .border-width-options .border-width li label{
    margin-top: 0px;
    margin-bottom: 0px;
}
.ncode-popup-option .border-width-options .border-width li label .ncode-title{
    margin-left: 10px;
}
.ncode-popup-option .border-width-options .border-width.radius{
    margin-top: -15px;
}


.ncode-popup-option .border-width-options{
    display: block;
    position: absolute;
    border: 1px solid #d2d2d2;
    bottom: 55px;
    top: auto;
    left: auto;
    right: auto;
    background: #fff;
    z-index: 99;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0,0,0,.3);
    opacity: 0;
    visibility: hidden;
}
.ncode-popup-option .border-width-options .npopup-content{
    padding: 10px;
    min-width: 200px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
}
.ncode-popup-option ::-webkit-scrollbar {
    width: 3px;
}
.ncode-popup-option ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #eee;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.ncode-popup-option ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.ncode-popup-option .border-width-options:before {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 13px;
    border: 8px solid transparent;
    border-bottom-color: #fff;
    transform: rotate(180deg);
    z-index: 999;
}
.ncode-popup-option .border-width-options.active-pop{
    opacity: 1;
    visibility: visible;
}

.ncode-popup-option .border-style .iconbutton{
    display: inline-block;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #afabab;
    width: 31px;
    margin-left: 4px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
    background: #fff;
    cursor: pointer;
    font-size: 12px;
}
.ncode-popup-option .border-style .iconbutton:focus,
.ncode-popup-option .border-style .iconbutton:active{
    outline: none;
    border: 1px solid #333;
}

/*Background*/

.ncode-popup-option .border-width-options .border-type{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ncode-typography .ncode-popup-option .border-width-options .border-type{
    position: relative;
}
.ncode-popup-option .border-width-options .border-type > .ncode-dimension-label{
    margin-top: 0px;
    line-height: 2em;
}

.border-width-options .border-type .nxinput-box {
    max-width: 100px !important;
    padding: 1px 7px !important;
}

.nx-toggle-opacity{
    pointer-events: none;
    opacity: .2;
}

.ncode-popup-option .select2-container {
    width: 150px;
}

/*Gallery*/

.ncode-gallery-options ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 13px;
}

.ncode-gallery-options ul li {
    display: inline-block;
    position: relative;
    padding: 4px;
    margin: 0 5px 10px 0;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.08);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.08);
    box-shadow: 0 1px 0 rgba(0,0,0,.08);
}
.ncode-gallery-options ul li img {
    max-width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    object-fit: contain;
}

/*Accrodion*/
.ncode-nxadd-accordion .nx-click-collapse {
    display: table;
    table-layout: fixed;
    width: 100%;
    color: #222;
    background-color: #e5e5e5;
    height: 40px;
    border-spacing: 1px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.ncode-nxadd-accordion .nx-card-header {
    position: relative;
    display: block;
    margin-bottom: 9px;
    padding: 0px;
    cursor: pointer;
}
.ncode-nxadd-accordion .nx-click-collapse-content {
    border: 1px solid #d5dadf;
    border-top: 0 solid #d5dadf;
    padding: 10px;
}
.ncode-nxadd-accordion .nx-click-collapse-content:not(.ncode-rehide) {
    display: none;
}


.ncode-nxadd-accordion .nx-click-collapse > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.ncode-nxadd-accordion .nx-click-collapse .ncode-header-icon {
    width: 30px;
    cursor: pointer;
}
.ncode-nxadd-accordion .nx-click-collapse .ncode-header-title {
    text-align: left;
    padding: 0 10px;
    font-size: 14px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
    font-weight: 500;
}
.ncode-nxadd-accordion .tabs-fields-action {
    display: flex;
    margin-bottom: 7px;
    vertical-align: middle;
    align-items: center;
}
.ncode-nxadd-accordion .tabs-fields-action > * {
    width: 80%;
}
.ncode-nxadd-accordion .tabs-fields-action .fileds-headline {
    font-size: 13px;
    color: #807f7f;
    font-weight: 500;
    width: 20%;
}

/*Back up settings*/
.backup-options{
    margin-bottom: 10px;
}
.backup-options h4{
    display: block;
    font-weight: 600;
    font-size: 13px !important;
    margin: 0px;
    letter-spacing: 1px;
    line-height: 3em;
    color: #444 !important;
}
.backup-options textarea {
    width: 100%;
    min-height: 200px;
    margin-bottom: 5px;
}

.ncode-warning-primary {
    border-color: #bd2130!important;
    background: #bd2130!important;
    color: #fff !important;
}

.backup-options .ncode-import,
.backup-options .ncode-reset,
.backup-options .ncode-export{
    padding: 1px 10px;
    color: #fff;
    background: #1163f9;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
}
.backup-options .ncode-reset{
    background: #E91E63F2;
    color: #fff;
    border: none;
}

.backup-options .back-restore li{
    display: inline-block;
    width: 49%;
    margin-bottom: 10px;
}

.backup-options .back-restore li{
    font-size: 13px;
}


/*metabox options css start here*/
.nextcode-section-metabox{
    margin: 0px;
    padding: 0px;
    display: block;
}

.nextcode-section-metabox .metabox-content {
    display: flex;
    margin-bottom: -1px;
}
.nextcode-section-metabox .settings-content > div {
    display: none;
}
.nextcode-section-metabox .settings-content > div.active {
    display: block;
}

.nextcode-section-metabox .metabox-content .nextcode-nav-menu {
    flex-basis: 20%;
    min-width: 200px;
}

.nextcode-section-metabox .metabox-content .nextcode-content-area {
    flex-basis: 80%;
    position: relative;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #e5e5e5;
}

.nextcode-section-metabox .nextcode-nav-menu .nav-setting li{
    border-top: none;
}
.nextcode-section-metabox .settings-content .ncode-section {
    display: flex;
    padding: 25px;
    position: relative;
    border-top: unset;
    border-bottom: 1px solid #e5e5e5;
}


/*dark options*/
.nextcode-section-metabox.top-display .metabox-content{
    display: block;
}

.nextcode-section-metabox.top-display .metabox-content .nextcode-nav-menu {
    flex-basis: 100%;
    min-width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.nextcode-section-metabox.top-display .metabox-content .nextcode-content-area {
    flex-basis: 100%;
    position: relative;
    border-left-width: 0px;
}


/*metabox options css end here*/


/*taxonomy*/
.nextcode-section-metabox.taxonomy .settings-content .ncode-section {
    display: block;
}
.nextcode-section.taxonomy .settings-content .ncode-headline {
    position: relative;
    width: 100%;
    align-self: center;
    margin-bottom: 9px;
}
.nextcode-section.taxonomy .settings-content .ncode-fileds {
    width: 100%;
}

/*Link input*/
.ncode-popup-option.ncode-link-option .border-style .iconbutton {
    height: 31px;
    margin-top: 0px;
}

/*nav ,menu*/
.nextcode-section-metabox.nx-navs {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 97%;
}


/* Shortcode*/
.nx-shortcode .settings-content .ncode-section {
    border-bottom: 0px solid #e5e5e5;
}

.nextcode-section .submit-button-section {
    text-align: left;
    margin-bottom: 10px;
}
.nextcode-section .submit-button-section button{
    padding: 7px 10px;
    color: #fff;
    background: #1163f9;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    margin-left: 12px;

}
.nextcode-section .submit-button-section button[nxsubmit-type=pre]::before{
    content: "\f104";
    font-family: "Font Awesome 5 Free";
    margin-right: 4px;
    font-size: 13px;
}

.nextcode-section .submit-button-section button[nxsubmit-type=next]::after{
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    margin-left: 4px;
    font-size: 13px;
}

.nx-shortcode > h2, .nx-shortcode > p{
    padding: 5px 12px;
    line-height: 1.5em;
    margin: 0px;
}
.nextcode-section-metabox.nx-shortcode .settings-content .ncode-section{
    padding: 10px;
    
}

/*multistep form*/

.nxmultistep-form .nav-setting{
    margin: 10px 0px;
    overflow: hidden;
    counter-reset: step;
    direction: ltr !important;
    display: flex;
    justify-content: space-around;
}

.nxmultistep-form .nav-setting li {
    display: block !important;
    position: relative;
    margin: 0px;
    width: 100%;
    text-align: center;
}
.nxmultistep-form .nav-setting li a{
    padding: 0px;

}
.nxmultistep-form .nav-setting li.active a{
    color: #ff6502;
    
}
.nxmultistep-form .nav-setting li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    line-height: 40px;
    display: block;
    font-size: 17px;
    color: #fff;
    background: #333;
    border-radius: 3px;
    z-index: 2;
    position: relative;
    margin: 0 auto 5px auto;
    text-align: center;
    font-weight: 600;
}



.nxmultistep-form .nav-setting li.active {
    background-color:transparent;
    border: none;
}
.nxmultistep-form .nav-setting li:after{
    content: unset;
}
.nxmultistep-form .nav-setting li:not(first-child):after, .nxmultistep-form .nav-setting li.active:not(first-child):after {
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    position: absolute;
    left: -50%;
    top: 18px !important;
    z-index: 0;
    transform: unset !important;
    right: auto !important;
    margin: 0 !important;
    border: none !important;
}

.nxmultistep-form .nav-setting li.active:before, .nxmultistep-form .nav-setting li.active:after {
    background: #ff6502 !important;
    color: white;
}

.nxmultistep-form .nav-setting li:first-child:after{
    opacity: 0;
    display: none;
    content: unset;
}

.nxmultistep-form .submit-button-section .nxmulti-step-preview, .nxmultistep-form .submit-button-section .nxmulti-step-submit{
    min-width: 100px;
    background: #ff6502;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 6px 5px;
    margin: 0px 0px 0px 10px;
}

.nxmultistep-form .submit-button-section .nxmulti-step-submit{
    background: #333;
}

.nextcode-section.nxmultistep-form .message-view {
    padding: 10px;
    top: 50%;
    left: 30%;
    padding: 10px 10px;
    background: #ef8788eb;
    color: #fff;
    font-weight: 500;
}


.left-display.nxmultistep-form .nav-setting{
    display: block;
    justify-content: normal;
    margin-left: 10px;
}

.left-display.nxmultistep-form .nav-setting li {
   
    min-height: 120px;
}

.left-display.nxmultistep-form .nav-setting li:not(first-child):after, .left-display.nxmultistep-form .nav-setting li.active:not(first-child):after {
    content: '';
    width: 2px;
    height: 100%;
    background: #333;
    position: absolute;
    left: 19px;
    top: -100% !important;
    z-index: 0;
    transform: unset !important;
    right: auto !important;
    margin: 0 !important;
    /* height: 2px !important; */
    border: none !important;
}

.left-display.nxmultistep-form .nav-setting li {
    display: inline-flex !important;
    margin: 0px;
    width: auto;
    text-align: center;
}
.left-display.nxmultistep-form .nav-setting li:before {
    height: 40px;
}
.left-display.nxmultistep-form .nav-setting li a{
    padding: 10px 3px;

}

.dark-mode.nxmultistep-form .nextcode-nav-menu .nav-setting li.active {
    background-color: transparent;
}

.dark-mode.nx-shortcode > h2, .dark-mode.nx-shortcode > p {
    color: #fff;
}

.nextcode-section.nxmultistep-form .settings-content {
    background-color: #fff;
    margin-bottom: 10px;
}

